[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyramid = "==2.0.2"
pytest = "==8.4.2"
webtest = "==3.0.6"

[dev-packages]
towncrier = "==25.8.0"
pytest-cov = "==6.3.0"
coverage = "==7.10.6"
mypy = "==1.17.1"
tbump = "==6.11.0"
