[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyramid = "==2"
pytest = "==7.2"
webtest = "==3"

[dev-packages]
towncrier = "==22.8"
pytest-cov = "==4"
coverage = "==6.5"
pycodestyle = "==2.10.0"
mypy = "==0.991"
black = "==22.12.0"
pydocstyle = {version = "==6.1.1", extras = ["toml"]}
