[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyramid = "==2.0.2"
setuptools = "<82.0.0"
pytest = "==9.0.2"
webtest = "==3.0.7"

[dev-packages]
towncrier = "==25.8.0"
pytest-cov = "==7.0.0"
coverage = "==7.13.3"
mypy = "==1.19.1"
tbump = "==6.11.0"
