# package main requirements
pyramid==1.7
pytest==2.9.2
webtest==2.0.23
# test requirements
pytest-cov==2.3.1
coverage==4.2
# linters
pylama==7.0.9
pyflakes==1.2.3
pep8==1.7.0
pep257==0.7.0
mccabe==0.5.2
